{
  "user-data-dir": "",
  "profile-directory": "",

  "reddit_auth": {
    "client_id": "",
    "client_secret": "",
    "user_agent": ""
  },
  "twitter_auth": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_token_secret": ""
  },
  "gleam": {
    "birth_day": "",
    "birth_month": "",
    "birth_year": "",
    "accept_terms_and_services": false
  }
}